/* ======================  INPUT PAGE  ======================= */

.input-box {
    margin: 50px 10px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 60vh;
    flex-direction: column;
  }


.form-control{
    margin: 10px;


}

:hover .search-btn {
    background-color: #F3CA40;
  }


.search-btn {
    margin: 8px 12px;
    color: #000;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #ffd9a8;

  }

  h2{
    color: rgb(7, 7, 54);
  }

  footer{
    border-top: 1px solid rgba(159, 159, 159, 0.678);
    color: #5A5454;
  }


  /* =================  OUTPUT PAGE  ==================== */

  .output-box {
    margin: 50px 10px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 60vh;
    flex-direction: column;
  }

  .list-result {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }
  .list-result li{
    margin: 6px;
  }

  .list-result p{
  margin-left: -33px;
}
/* ============= ABOUT ===================== */
.thanks-btn{
  border: 2px solid #fcb04d;
  border-radius: 5px;
  padding: 6px;
  background: #f5c88e47;

}
