{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="modal modal-tour position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalTour">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-body p-5">
          <h2 class="fw-bold mb-0">What's this site</h2>

          <ul class="d-grid gap-4 my-5 list-unstyled">
            <li class="d-flex gap-4">

              <div>
                <h5 class="mb-0">Find common movies</h5>
                Want a list of titles of movies in which both Brad Pitt and George Clooney appeared? Or childhood friends Leonardo DiCaprio and Tobey Maguire?
                <br>
                Just type names of actors in the input box.
              </div>
            </li>
            <li class="d-flex gap-4">

              <div>
                <h5 class="mb-0">Output</h5>
                List of films in which these actors starred (excluding series, TV shows etc.)
              </div>
            </li>
            <li class="d-flex gap-4">

              <div>
                <h5 class="mb-0">Input</h5>
                Try to type names correctly and no extra spaces. The program is sensitive to input errors.
              </div>
            </li>
          </ul>
          <button type="button" class="thanks-btn" data-bs-dismiss="modal"><a href="/home" class="nav-link px-2 text-secondary">Great, thanks!</a></button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
