{% extends "base.html" %}
{% block title %}Home page{% endblock %}
{% block content %}
  <div class="input-box">
    <div><h2>Enter names of actors and find their common movies</h2></div>
    <br>
    <form method="POST" action="/" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
      <input type="search1" name="search1" class="form-control form-control-dark text-bg-dark" placeholder="Type name of actor 1" aria-label="Search"/>
      <input type="search2" name="search2" class="form-control form-control-dark text-bg-dark" placeholder="Type name of actor 2" aria-label="Search"/>
      <input type="submit" value="Search" class="search-btn" />
    </form>

  </div>
{% endblock %}
