{% extends "base.html" %}
{% block title %}Result{% endblock %}
{% block content %}
  <div class="output-box">
    <div><h2>Common movies:</h2></div>
      <div>
          <ul class="list-result">
              {% if result is string %}
                <p>{{ result }}</p>
              {% elif result|length > 0 %}
                  {% for el in result %}
                  <li>{{ el }}</li>
                    {% endfor %}
          </ul>
          {% else %}
          <p>Common movies {{ name1 }} and {{name2}} not found </p>
          {% endif %}
      </div>

  </div>
{% endblock %}
